@import "./reset";
@import "./form";

@mixin flexCenter {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

@mixin flexSpacing {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.2em;
}

.base-container {
  background-image: url(/src/assets/img/register.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  @include flexCenter();
}

.container {
  background-color: #ecf4fe;
  margin: 50px 0;
  padding: 35px 40px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;

  @include flexSpacing();

  h1 {
    font-size: 2.25em;
    padding: 0 1em;
  }

  @media screen and (max-width: 900px) {
    margin: 0;
    padding: 0px;
    border-radius: 0px;
    background-color: #cce4ff;
  }
}

.logo-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.logo {
  width: 80px;
  height: 80px;
}

.header {
  @include flexCenter();
  gap: 1em 0;
  @media screen and (max-width: 900px) {
    margin-top: 25px;
  }
}

.text-area,
.text-area::placeholder {
  height: 150px;
  padding: 5px 7.5px;
  opacity: 1;
}
