/* Roadmap section */
.title {

    z-index: 110;
    margin-top: -150px;
    font-size: 137px;
    font-family: 'Caveat', cursive;
    /* font-family: 'Water Brush', cursive; */
    /* font-family: 'Poppins', sans-serif; */
    text-transform: capitalize;
    /* color: linear-gradient(90deg,#f56772,#ba6bff);
  background-color: linear-gradient(90deg,#f56772,#ba6bff); */
    background-image: linear-gradient(90deg, #f7113a, #8907ffa8, #0a51ff);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.roadmap {
    min-height: 90vh;
}
::selection {
    color: #4b4c4d;
    background: #f5f5f5;
}
.head{
    font-size:x-large ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrapper {
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}
.wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: #141515;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}
.wrapper .row {
    display: flex;
}
.wrapper .row-1 {
    justify-content: flex-start;
}
.wrapper .row-2 {
    justify-content: flex-end;
}

.wrapper .row section {
    background: #b0b0b0;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}

.wrapper .row section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: linear-gradient(90deg,#4b4c4d,#5b5a5a);
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 section::before {
    right: -7px;
}

.row-2 section::before {
    left: -7px;
}

.row section i,
.center-line .scroll-icon {
    position: absolute;
    background: linear-gradient(90deg,#4b4c4d,#5b5a5a);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f5f5f5;
    font-size: 17px;
    box-shadow: 0 0 0 4px linear-gradient(to right, #adefd1ff, #00203fff), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.row-1 section .icon {
    top: 15px;
    right: -60px;
}

.row-2 section .icon {
    top: 15px;
    left: -60px;
}

.row section .details,
.row section .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row section .details .title {
    font-size: 22px;
    font-weight: 600;
}

.row section p {
    margin: 10px 0 17px 0;
}

.row section .bottom a {
    text-decoration: none;
    background:linear-gradient(90deg, #f7113a, #8907ffa8, #0a51ff);
    color: rgb(11, 11, 11);
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
}

.row section .bottom a:hover {
    transform: scale(0.97);
}

@media(max-width: 790px) {
    .wrapper .center-line {
        left: 40px;
    }

    .wrapper .row {
        margin: 30px 0 3px 60px;
    }

    .wrapper .row section {
        width: 100%;
    }

    .row-1 section::before {
        left: -7px;
    }

    .row-1 section .icon {
        left: -60px;
    }
}

@media(max-width: 440px) {

    .wrapper .center-line,
    .row section::before,
    .row section .icon {
        display: none;
    }

    .wrapper .row {
        margin: 10px 0;
    }
}