@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #f7f7f7;
  --font-white: #fff;
  --font-blk: #292f36;
  --transition-nav: 300ms linear;
  --border: #dadce0 solid 1px;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}

nav {
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 0.5rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: -80px;
  z-index: 3;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  border-bottom: var(--border);
}

@media screen and (max-width: 900px) {
  nav {
    height: 75px;
    width: 100%;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

ul {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0 3em;
}

ul li {
  text-align: center;
}

ul li a {
  text-decoration: none;
  color: var(--font-blk);
  font-weight: 500;
  font-size: 1.05em;
}

@media screen and (max-width: 900px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2em 0;
    padding: 1em 0;
    width: 100%;
    background-color: #fff;
  }
}

@media screen and (max-width: 900px) {
  #nav-links {
    width: 100%;
    -webkit-transition: var(--transition-nav);
    transition: var(--transition-nav);
  }
  .nav-links-active {
    width: 100%;
    visibility: visible;
    position: relative;
    top: 0;
    z-index: 1;
  }
  .nav-links-disable {
    visibility: hidden;
    position: relative;
    top: -350px;
    z-index: 1;
  }
}

.logo {
  margin-top: 15px;
  height: 100%;
  width: 77.5px;
}

@media screen and (max-width: 900px) {
  .logo {
    margin-top: 2px;
    height: 65px;
    width: 65px;
  }
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}

@media screen and (max-width: 900px) {
  .nav-header {
    width: 100%;
    padding: 0rem 1.5rem;
    background-color: #fff;
  }
}

.nav-toggle {
  height: 25px;
  width: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: none;
  cursor: pointer;
}

.nav-toggle span {
  padding: 0;
  margin: 0;
  height: 3px;
  width: 100%;
  background-color: #00001a;
  border-radius: 1rem;
  -webkit-transition: var(--transition-nav);
  transition: var(--transition-nav);
}

.nav-toggle span:nth-of-type(1) {
  width: 50%;
}

.nav-toggle span:nth-of-type(3) {
  width: 75%;
}

@media screen and (max-width: 900px) {
  .nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.toggle-active span:nth-of-type(1) {
  -webkit-transform: rotateZ(-45deg) translate(-6.5px, 3.2px);
          transform: rotateZ(-45deg) translate(-6.5px, 3.2px);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.toggle-active span:nth-of-type(2) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.toggle-active span:nth-of-type(3) {
  width: 50%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateZ(-45deg) translate(-5.7px, -12.5px);
          transform: rotateZ(-45deg) translate(-5.7px, -12.5px);
}

.section-wrapper {
  width: 100%;
  top: 0;
  padding: 75px 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-wrapper:nth-of-type(1) {
  background-color: #f7fff7;
  padding: 75px 2em;
}

.section-wrapper:nth-of-type(2) {
  padding: 0;
}

.section-wrapper:nth-of-type(3) {
  background-color: #dcf5f3;
  padding: 0;
}

.section-wrapper:nth-of-type(3) h3 {
  font-size: 3em;
  font-weight: 600;
  color: var(--font-blk);
}

.section-wrapper:nth-of-type(3) p {
  color: var(--font-blk);
}

.project-pillar {
  font-size: 4em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--font-blk);
  text-align: center;
}

.content-wrapper {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 80px 0;
  padding: 2.5em 5em;
}

.content-wrapper h3 {
  font-size: 3em;
  font-weight: 600;
  color: var(--font-white);
}

.content-wrapper p {
  font-size: 1.1em;
  line-height: 2;
}

@media screen and (max-width: 900px) {
  .content-wrapper {
    padding: 1.2em 0;
  }
  .content-wrapper h3 {
    font-size: 2em;
  }
  .content-wrapper p {
    padding: 0 2em;
    width: 100%;
    font-size: 0.7em;
    text-align: justify;
  }
}

.hr {
  background-color: #ff4747;
  height: 2px;
  width: 25%;
  border-radius: 2rem;
}

.container {
  width: 100%;
  height: 100%;
}

.flex-wrapper {
  width: 100%;
  height: 50%;
}

.flex-wrapper:nth-of-type(1) {
  background-color: #ff6b6b;
}

.flex-wrapper:nth-of-type(2) {
  background-color: #ffe66d;
}

.flex-wrapper:nth-of-type(2) h3 {
  font-size: 3em;
  font-weight: 600;
  color: var(--font-blk);
}

.flex-wrapper:nth-of-type(2) p {
  color: var(--font-blk);
}

footer {
  background-color: var(--font-blk);
  width: 100%;
  height: 500px;
  position: relative;
}

.social-media {
  height: 100px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.social-media-cont {
  width: 50px;
  color: var(--font-white);
  cursor: pointer;
  position: relative;
}

.social-media-cont svg:hover {
  position: absolute;
  top: -10px;
}

.email-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2em;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .email-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.email-area,
.phone-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.5rem;
  color: #599692;
  font-weight: 500;
}

.contact-area {
  color: #55c9e3;
}

.footer-wrapper {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 80px 0;
  padding: 2.5em 5em;
}

.footer-wrapper h3 {
  font-size: 3em;
  font-weight: 600;
  color: #fff;
}

.footer-wrapper p {
  font-size: 1.1em;
  line-height: 2;
}

@media screen and (max-width: 900px) {
  .footer-wrapper {
    gap: 1em;
    padding: 1.5em 3em;
  }
  .footer-wrapper h3 {
    font-size: 1.5em;
  }
  .footer-wrapper p {
    padding: 0 1.25em;
    width: 100%;
    font-size: 0.7em;
  }
}

.email-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-ecell {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1em;
  color: #7fc0bb;
}

.register-btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #55c9e3;
  padding: 16px 32px;
  border-radius: 0.7rem;
  font-size: 1.2em;
}

.register-btn:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #55c9e3;
  padding: 16px 32px;
  border-radius: 0.7rem;
  font-size: 1.2em;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em 0;
  z-index: 1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #dcf5f3;
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*# sourceMappingURL=style.css.map */